* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 35%);
  -webkit-box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 35%);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  padding: 50px;
}

.input-form {
  min-width: 300px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid rgb(200 209 209) s;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  /* background: 0 0; */
  height: 62px;
  /* padding: 50px; */
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-decoration: none;
  border: 1px solid aqua;
  padding: 5px 20px;
  background-color: transparent;
  font-size: 12px;
  color: green;
  color: rgb(116, 116, 116);
  text-decoration: none;
  outline: none;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 35px;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  background-color: #827ffe;
  border-radius: 3px;
  color: white;
}

.d-wrapper {
  /* background-color: red; */
  display: flex;
  gap: 30px;
  max-width: 1280px;
  margin: 40px auto;
  /* justify-content: center; */
}

.img {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* width: 60%; */
}

.title {
  font-size: 50px;
  line-height: normal;
  padding: 0;
  margin: 10px 0;
}

.sub-title {
  font-size: 24px;
  margin: 10px 0;
}

.menu-wrapper {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 10px 0;
}

.menu-item {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  padding: 0 10px;
  border-right: 1px solid black;
}

.menu-item:first-child {
  padding-left: 0;
}

.menu-item:last-child {
  border-right: none;
}

.menu-item:hover {
  color: black;
  text-decoration: none;
}

.jumbotron-wrapper {
  display: flex;
  flex-direction: column;
}

.jumbotron {
  border: 2px solid black;
  padding: 10px 20px;
  min-height: 200px;
  margin: 15px 0;
}

.description {
}

.btn {
  align-self: flex-end;
}

.table-wrapper {
  margin: 15px 0;
}

.table-header {
  display: flex;
  border: 2px solid black;
  padding: 15px 10px;
  align-items: center;
  margin-bottom: 10px;
}
.table-header-text {
  display: inline-block;
  margin-right: 20px;
}
.table-header-select {
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  background-color: transparent;
  margin-right: 20px;
}
.table-body {
  border: 2px solid black;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border: none;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
}

th {
  background-color: silver;
}

tr:nth-child(even) {
  background-color: red;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px;
}

.dashboard-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20%;
  margin: 20px 0;
}

.button-d-form {
  justify-content: flex-end;
}

.d-form-input {
  min-width: 200px;
  padding: 5px 10px;
}

.hidden {
  display: none;
}
